* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
/* MUDANDO CORES PARA SELEÇÃO DE TEXTO */
::selection {
  background-color: #2a2a2a;
  color: #fff;
}
.container {
  width: 100%;
  padding: 0;
}
/* ESTILIZANDO SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 50px #222222;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5a128;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #facd03;
}

/* MOBILE */
/* HEADER */
.navbar {
  background-color: #222222;
}
.navbar-brand {
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff !important;
}
.navbar-brand:active {
  outline: 0;
}
.nav_menu {
  color: #fff !important;
}
.navbar-brand {
  color: #f5a128 !important;
}
.icon_menu {
  color: #fff;
}
#menu_nav {
  display: none;
}
.navbar-toggler {
  position: relative;
  float: left;
  /* right: 20px;
  top: 20px; */
}
.nav_btn:hover {
  cursor: pointer !important;
}
.nav-item {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f5a128;
}
.icon_menu {
  color: #f5a128;
  padding-right: 8px;
}
.nav-link {
  color: #f5a128 !important;
}
.nav-link:hover {
  text-decoration: underline;
}

/* INICIO RODAPE */
.rodape {
  width: 100%;
  background-color: #222222;
  height: 70px;
  position: relative;
  bottom: 0;
  left: 0;
}
.rodapehome {
  width: 100%;
  background-color: #222222;
  height: 70px;
  bottom: 0;
  left: 0;
}
.footer_copy {
  text-align: center;
  color: #fff;
  font-style: italic;
  font-size: 0.7em;
  padding: 2px auto;
  margin: 0;
  /* line-height: 18px; */
}
.footer_copy:first-child {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* TRIGGERS */
.clear {
  clear: both;
}

/* MAIN */
.conteudo-robo {
  width: 90%;
  height: auto;
  margin: 15px 5%;
  border: 1px solid #000;
  display: flex;
}
.btn-branco-azul {
  margin: 5px auto;
  text-align: center;
  padding: 3px 13px;
  border: 3px solid #f5a128;
  background-color: #f5a128;
  color: #222222;
  border-radius: 5px;
  opacity: 1;
  font-size: 1.2em;
  font-weight: bold;
  transition: padding 0.3s;
}
.btn-branco-azul:hover {
  padding: 8px 25px;
  background-color: #222222;
  border: 3px solid #222222;
  color: #f5a128;
  text-decoration: none;
}
.btn-branco-azul:hover .icon_menu_item {
  color: #f5a128;
}
.icon_menu_item {
  padding-right: 8px;
  color: #222222;
}
.conteudo_frase {
  color: #fff;
  text-align: center;
  font-size: 1.3em;
}
#conteudo_special {
  padding: 2px 5px;
  color: #fff;
  font-size: 1.5em;
}
#conteudo {
  width: 80%;
  height: auto;
  padding-top: 15px;
  margin: 20px 10%;
  border: 1px solid #000;
}
.conteudo_imagem {
  width: 90%;
  height: auto;
  margin: auto 5%;
  border: 1px solid #000;
}
#conteudo_destaque {
  width: 90%;
  height: auto;
  margin: 20px 5%;
  border: 1px solid #000;
}
#conteudo_destaque h2 {
  text-align: center;
}
#conteudo_destaque p {
  text-align: center;
  font-size: 0.875em;
  text-indent: 5px;
  padding: 0 10px;
}

/* MENU PRINCIPAL */
.menu {
  width: 90%;
  height: auto;
  border: 1px solid #000;
  margin: auto 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu_item {
  width: 324px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 2px solid #f5a128;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px #f5a128;
  transition: transform 0.5s;
}
.menu_item:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.menu_item i {
  margin-right: 8px;
  color: #2a2a2a;
}
.menu_item p {
  padding: 0 10px;
  color: #222222;
}

/* MEDIA QUERIES */
/* DISPLAYS SCREENS */
@media only screen and (max-width: 300px) {
  form {
    position: relative;
    display: inline-block;
    max-width: 95%;
    min-width: 90%;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    margin-top: 40px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-left: auto;
    margin-right: auto;
  }
  form button {
    margin-top: 35px;
    background-color: #ff4a56;
    border: 1px solid #ff4a56;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    margin-left: 26%;
  }
}
@media only screen and (min-width: 767px) {
  .menu_item {
    width: 250px;
  }
  .nav-link {
    padding: 5px 10px;
    border: 0;
    color: #f5a128;
    transition: background-color 0.5s;
  }
  .nav-item {
    border-radius: 5px;
    border: 1px solid #f5a128 !important;
    margin-right: 3px;
    padding-bottom: 0;
  }
  .nav-item:hover {
    border: 1px solid #f5a128;
  }

  .nav-link:hover {
    color: #222222 !important;
    background-color: #f5a128;
    text-decoration: none;
  }
  .nav-link:hover .icon_menu {
    color: #222222;
  }
}
@media only screen and (min-width: 780px) {
  .menu_item {
    width: 260px;
  }
  .nav-link {
    padding: 5px 10px;
    border: 0;
    color: #fff;
  }
  .nav-item {
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 8px;
    padding-bottom: 0;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 860px) {
  .nav-item {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1000px) {
  .menu_item {
    width: 338px;
  }
  .footer_copy {
    font-size: 0.9em;
    line-height: 22px;
  }
}
@media only screen and (min-width: 1440px) {
  .menu_item {
    width: 338px;
    margin: 20px 40px;
  }
  .rodape .rodapehome {
    height: 60px;
  }

  .footer_copy {
    font-size: 1em;
    line-height: 18px;
  }
  .footer_copy:first-child {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* @media (min-width: 800px) {
  .navbar-toggler {
    display: none;
  }
} */

/* CADASTRO */
fieldset {
  border: none;
}

@media only screen and (max-width: 1920px) {
  form {
    position: relative;
    display: inline-block;
    max-width: 70%;
    min-width: 50%;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    margin-top: 40px;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-left: auto;
    margin-right: auto;
  }
  form button {
    margin-top: 35px;
    background-color: #222222;
    border: 2px solid #f5a128;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: #f5a128;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    margin-left: 41%;
  }
}

.bg {
  background-color: #1f1515de;
  font-family: Helvetica, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
  margin-left: auto;
  margin-right: auto;
}

.transition,
form button,
form .question label,
form .question input {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

/* form {
  position: relative;
  display: inline-block;
  max-width: 95%;
  min-width: 90%;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  margin-top: 40px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-left: auto;
  margin-right: auto;
} */
form h1 {
  color: #f5a128;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-align: center;
}

form button:hover,
form button:focus {
  color: #000000;
  background-color: #f5a128;
}
form .question {
  position: relative;
  padding: 10px 0;
}
form .question:first-of-type {
  padding-top: 0;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  transform-origin: left center;
  color: #f5a128;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
form .question input {
  appearance: none;
  background-color: none;
  border: 2px solid #f5a128;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #f5a128;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input:focus {
  outline: none;
  background: #222222;
  color: #f5a128;
  margin-top: 30px;
}
form .question input:valid {
  margin-top: 30px;
}
form .question input:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
form .question input:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* FIM CADASTRO */

/* FAQ */
.titulo {
  text-align: center;
  font-size: 42px;
  background: -webkit-linear-gradient(#222222, #f5a128);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #f5a128;
  overflow: hidden;
  border-radius: 10px;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.card {
  position: relative;
  display: inline-block;
  max-width: 95%;
  min-width: 90%;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;

  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-left: auto;
  margin-right: auto;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #222222; /* cor antes do click*/
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  margin-bottom: 0;
}
.blue label {
  background: #2980b9;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #2c2c2c; /* cor depois do click */
  -webkit-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  transition: 3s;
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
}
.tab input[type="checkbox"] + label::after {
  content: "+";
  font-size: 30px;
  margin-top: -20px;
}
.tab input[type="radio"] + label::after {
  content: "\25BC";
}
.tab input[type="checkbox"]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type="radio"]:checked + label::after {
  transform: rotateX(180deg);
}
